{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
<ol class="breadcrumb">
	<li class="breadcrumb-item active">Acceuil</li>
</ol>
<h1>Les véhicules qui pourraient vous plaire</h1>
<div class="row">
	{% for v in voitures %}
		<div class="col">
			{% include "voiture/_voiture_card.html.twig" %}
		</div>
	{% endfor %}
</div>
<div class="d-flex justify-content-center">
	<a href="{{ path('voiture_list') }}">
		<button type="button" class="btn btn-outline-secondary">Consulter la liste de tous nos véhicules
			<i class="fa-solid fa-chevron-right"></i>
		</button>
	</a>
</div>
<hr>
<h1>Les parkings les plus proches de chez vous</h1>
<div class="row">
	{% for p in parkings %}
		<div class="col">
			{% include "parking/_parking_card.html.twig" %}
		</div>
	{% endfor %}
</div>
<div class="d-flex justify-content-center">
	<a href="{{ path('parking_list') }}">
		<button type="button" class="btn btn-outline-secondary">Consulter la liste de tous nos parkings
			<i class="fa-solid fa-chevron-right"></i>
		</button>
	</a>
</div>
<hr>
<h2>Un service irreprochable</h2>
<p>Notre agence de location est récompensé pour la qualité de ses services depuis déjà 10 ans !</p>
<div class="row">
	{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': 'Des véhicules en parfait état et renouvelés régulièrement'
        } %}
	{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': 'Réservez votre véhicule en quelques clics et récupérez le instantanément'
        } %}
	{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': 'Notre application protège l\'intégrité ainsi que la confidentialité de vos données '
        } %}
	</div>
{% endblock %}
