<div class="card border-secondary mb-3 text-center">
	<img src="{{ v.image }}" alt="Photo du véhicule" class="img-fluid">
	<div class="card-body">
		<h4 class="card-title">{{ v.model }}</h4>
		{% if v.carburant == "electric" or v.carburant == "hybrid" %}
			<i class="fa-solid fa-car-battery pt-1 fa-2x"></i>
		{% else %}
			<i class="fa-solid fa-gas-pump pt-1 fa-2x"></i>
		{% endif %}
		<p class="card-text"></p>
		<a class="btn btn-outline-primary" href="{{ path('voiture_show', {'slug': v.slug }) }}">Détails</a>
		<a class="btn btn-outline-success" href="#">Réserver</a>
	</div>
</div>
